:root {
  --near-black: #040404;
  --lighter-black: #1b1b1b;
  --card-border-radius: 1rem;
  --card-vertical-spacing: 1.25rem;
  --card-horizontal-spacing: 1.25rem;
  --primary-font-color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background: var(--near-black);
  color: var(--primary-font-color);
}
* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 100%;
}

.chart-container {
}
