:root {
  --near-black: #040404;
  --lighter-black: #1b1b1b;
  --card-border-radius: 1rem;
  --card-vertical-spacing: 1.25rem;
  --card-horizontal-spacing: 1.25rem;
  --primary-font-color: white;
}

html {
  background: var(--near-black);
  color: var(--primary-font-color);
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}
* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 100%;
}

.centered {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-btn {
  border-radius: 0.25rem;
  border: solid 2px white;
  background: none;
  line-height: 1.5;
  color: white;
}
